Repository theopenlane/entx, pull requests merged in 2024-09, with the labels that each got.

#10 exclude generate dir explicity
  .buildkite/pipeline.yml
Labels: ci

#16 feat: json searchability
  annotation.go
  genhooks/gensearch.go
  genhooks/gensearch_test.go
  mixin/tagmixin.go
Labels: enhancement, mixin, genhooks

#18 feat: switch to zerolog
  .buildkite/pipeline.yml
  client.go
  go.mod
  go.sum
  vanilla/_example/ent/client.go
  vanilla/_example/ent/entc.go
Labels: enhancement, ci

#23 minor updates
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  LICENSE
  README.md
Labels: enhancement, ci

#24 feat: allow for the use of the pgx driver
  client.go
  client_test.go
  go.mod
  go.sum
Labels: enhancement
