Repository theopenlane/entx, pull requests merged in 2025-01, with the labels that each got.

#73 dependencies, precommit, license, taskfile
  .pre-commit-config.yaml
  LICENSE
  Taskfile.yml
  go.mod
  go.sum
Labels: enhancement

#74 fix history access
  history/generateschemas.go
  history/generateschemas_test.go
  history/template_test.go
  history/templates/schema.tmpl
Labels: history

#78 feat: add prefixed human readable id option, change mapping id default
  customtypes/prefixedIdentifier.go
  customtypes/prefixedIdentifier_test.go
  mixin/idmixin.go
Labels: mixin

#79 fix: switched vars but forgot to switch the check
  mixin/idmixin.go
Labels: bug, mixin

#80 bug: fix issue with atlas migrations + search field
  customtypes/prefixedIdentifier.go
  customtypes/prefixedIdentifier_test.go
  go.mod
  mixin/idmixin.go
Labels: bug, mixin

#82 feat: generate short id based on ULID instead of serial ids
  customtypes/prefixedIdentifier.go
  customtypes/prefixedIdentifier_test.go
  go.mod
  mixin/idmixin.go
  vanilla/_example/ent/gql_collection.go
  vanilla/_example/ent/gql_where_input.go
  vanilla/_example/ent/migrate/schema.go
  vanilla/_example/ent/mutation.go
  vanilla/_example/ent/organization.go
  vanilla/_example/ent/organization/organization.go
  vanilla/_example/ent/organization/where.go
  vanilla/_example/ent/organization_create.go
  vanilla/_example/ent/organization_query.go
  vanilla/_example/ent/runtime/runtime.go
  vanilla/_example/ent/schema/organization.go
  vanilla/_example/schema/ent.graphql
Labels: enhancement, mixin
