Repository theopenlane/entx, pull requests merged in 2025-06, with the labels that each got.

#142 feat: enable audit log pagination restricted to single object
  .buildkite/pipeline.yml
  .pre-commit-config.yaml
  go.mod
  history/schema.go
  history/templates/auditing.tmpl
  history/templates/schema.tmpl
Labels: enhancement, ci, history

#143 add schema annotations for feature maps
  README.md
  annotation.go
  annotation_test.go
  genhooks/genfeaturemap.go
  genhooks/templates/features.tmpl
  mixin/feature.go
Labels: enhancement, mixin, genhooks

#150 Update README.md
  README.md
Labels: bug
